.review-card-container{
    display: inline-block;
    width : 260px;
    height: 300px;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    margin: 10px;
    
}

.yt_img{
    display: block;
    width : 130px;
    height: 130px;
    border: 1px solid #DEDEDE;;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-card-info {
    margin: 5px;
}

.info-group{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.category {
    display: inline-block;
    font-size: 11px;
    background-color: #F2F2F2;
    color: #808084;
    padding: 6px 8px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.channelName {
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 5px 5px 0;
}

.subscriberCount{
    font-size: 14px;
    color: #94969B;
    padding-bottom: 5px;
}

.rating {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 5px 15px 0;
}

.review-count {
    font-size: 14px;
    color: #94969B;
    padding-bottom: 15px;
}

.best-review-title {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}

.best-review {
    width: 250px;
    font-size: 12px;
    font-weight: lighter;
    color: #808084;

    overflow: hidden;
    text-overflow: ellipsis;
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
}